.footerleft {
 
  
    font-weight: 400px;
    color: white;
    font-family: 'poppins', sans-serif;
    text-align: left;
   white-space: nowrap;
   padding-left: 30px;

}

.footright {
    text-align: right;
   margin:auto;
}
.footerright {
    justify-content: space-between;
    width: 7%;
    gap: 25rem;

}
.footer {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));

    background-color: black;
    height: 150px;
    padding-right:20px;
    padding-left: 20px;

}

.row {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}


/* 2xl */
@media (max-width: 1536px) {
    .row {
        max-width: 1536px;
    }
    
}

/* xl */
@media (max-width: 1280px) {
    .row{
        max-width: 1286px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .row {
        max-width: 1024px;
    }
}

/* md */
@media (max-width: 768px) {
    .row{
        max-width: 768px;
    }
   .footerleft{font-size:10px;}
   .footerright{width:15%;
gap:3.5rem;}
        
    
}

/* sm */
@media (max-width: 640px) {
    .row {
        max-width: 640px;
    }
   
}
@media (max-width: 475px) {
    .footerleft{font-size:7px;}
.footerright{width:20%;
    gap:3.5rem;}
}
@media (max-width: 280px) {
  
    .footerright{width:20%;
        gap:3.5rem;}
    }
/* xs */
